{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home-Page{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, 
        {% if current_user.is_authenticated %}
            {% if current_user.is_administrator() %}
                Administrator, {{ current_user.username }}
            {% else %}
                {{ current_user.username }}
            {% endif %}
        {% else %}
            Stranger
        {% endif %}!
    </h1>
</div>
{% endblock %}
